body {
    margin: 0;
    font-family: sans-serif;
}
table, th, td {
    width: 25%;
    border: 1px solid black;
    border-collapse: collapse;
    margin-left: auto;
    margin-right: auto;
}
th.task, th.added, th.actions {
    width: 25%;
}